/* General */
.all{
  margin-left: 150px;
}
.container {
  width: 960px;
}
.btn{	background-color:rgba(255,0,0,0.7);

 color: white; border: red;}
#projects{margin-left:400px; margin-top:100px;}
/* Header */
#creat{margin-top:50px;margin-left:400px;}
td {padding:10px;}
#creat h1{margin-bottom:30px;}
.header {
  background-color: rgba(0, 0,0, 0.4);
  border-bottom: 1px solid #ddd;
  
  font-family: "Georgia", sans-serif;
  font-weight: 300;
  height:50px;
  font-size: 17px;
  margin-top:-50px;
  padding-right:50px;
  color:white;
}
h1{text-align:center;}
.mpro {
	margin:90px;padding:0px;
	margin-left:370px;
	width:637px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
	
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
	
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
	
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}.mpro table{
    border-collapse: collapse;
        border-spacing: 0;
	width:635px;
	height:100%;
	margin:0px;padding:0px;
}.mpro tr:last-child td:last-child {
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
}
.mpro table tr:first-child td:first-child {
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}
.mpro table tr:first-child td:last-child {
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
}.mpro tr:last-child td:first-child{
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
}.mpro tr:hover td{
	
}
.mpro tr:nth-child(odd){ background-color:#bf0000; color:white;}
.mpro tr:nth-child(even)    { background-color:#ffffff; }.mpro td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:15px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.mpro tr:last-child td{
	border-width:0px 1px 0px 0px;
}.mpro tr td:last-child{
	border-width:0px 0px 1px 0px;
}.mpro tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.mpro tr:first-child td{
		background:-o-linear-gradient(bottom, #ff0000 5%, #bf0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #bf0000) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #bf0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#bf0000");	background: -o-linear-gradient(top,#ff0000,bf0000);

	background-color:#ff0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.mpro tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff0000 5%, #bf0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #bf0000) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #bf0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#bf0000");	background: -o-linear-gradient(top,#ff0000,bf0000);

	background-color:#ff0000;
}
.mpro tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.mpro tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.mcreat {
	margin:90px;padding:0px;
	margin-left:400px;
	width:657px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
	
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
	
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
	
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}.mcreat table{
    border-collapse: collapse;
        border-spacing: 0;
	width:635px;
	height:100%;
	margin:0px;padding:0px;
}.mcreat tr:last-child td:last-child {
	-moz-border-radius-bottomright:2px;
	-webkit-border-bottom-right-radius:2px;
	border-bottom-right-radius:2px;
}
.mcreat table tr:first-child td:first-child {
	-moz-border-radius-topleft:2px;
	-webkit-border-top-left-radius:2px;
	border-top-left-radius:2px;
}
.mcreat table tr:first-child td:last-child {
	-moz-border-radius-topright:2px;
	-webkit-border-top-right-radius:2px;
	border-top-right-radius:2px;
}.mcreat tr:last-child td:first-child{
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	border-bottom-left-radius:2px;
}.mcreat tr:hover td{
	
}
.mcreat tr:nth-child(odd){ background-color:#bf0000; color:white; }
.mcreat tr:nth-child(even)    { background-color:#ffffff; }.mpro td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:15px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.mcreat tr:last-child td{
	border-width:0px 1px 0px 0px;
}.mcreat tr td:last-child{
	border-width:0px 0px 1px 0px;
}.mcreat tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.mcreat tr:first-child td{
		background:-o-linear-gradient(bottom, #ff0000 5%, #bf0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #bf0000) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #bf0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#bf0000");	background: -o-linear-gradient(top,#ff0000,bf0000);

	background-color:#ff0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.mcreat tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff0000 5%, #bf0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #bf0000) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #bf0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#bf0000");	background: -o-linear-gradient(top,#ff0000,bf0000);

	background-color:#ff0000;
}
.mcreat tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.mcreat tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.row {width:500px; margin-left:300px; margin-top:50px;}
/* Menu */ 
#img {margin-left:-95px; padding-left:-200px; width:400px;}
#language{float:left; position: absolute; top:25px;right:135px;}
#contactForm{margin-left:200px; width:300px; margin-top:40px;}
.header .menu {
  float: right;
  list-style: none;
  margin-top: -87px;
 
}
.rectangle-list h2{padding:10px;
color: black;}
.rectangle-list{width:600px;margin-left:400px;margin-top:100px;}
ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.rectangle-list a:hover{
    background: #eee;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}
/* Menu */ 
.pro{margin-top:80px; margin-left:500px;}
.pro h1{padding:50px;}
.menu > li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}


.menu a {
  color: white;
}

/* Dropdown */

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}


/* Carousel */

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}

/* Slide feature */

.slide-feature {
  text-align: center;
  height: 470px;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* App links */

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}

* {
    -webkit-user-select:none;
}

body {
    background:url(../images/cal_bg.png);
   
}

article.container {
    padding: 50px 0 140px;
}

#Aboutus{
width: 300px;
float: right;
}

#Contactus{
width: 300px;
clear:both;
float:left;

}

#cal{
    font-family:'Economica',sans-serif;
    width:200px;
    height:205px;
    top:500px;
	padding-left:200px;
    background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.9, rgb(52,59,63)),
    color-stop(0.9, rgb(70,80,85)),
    color-stop(1, rgb(82,91,97))
);
    background-image: -moz-linear-gradient(bottom, rgb(52,59,63) 90%, rgb(70,80,85) 91%, rgb(82,91,97) 100%);
    border:1px solid #000;
    border-radius:5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.8);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0 9px 10px 11px;
    margin:0 auto;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	padding-left: 20px;
		padding-right: 20px;
padding-top:5px;
padding-bottom:5px;

    text-decoration: none;
    color: initial;

	background-color:rgba(255,0,0,0.3);
 color: black; border: red;
}

.footer{margin-top:80px;margin-left:-75px;}
#sub{margin-left: 302px}
#reg{margin-left: 260px; margin-top:10px;}